@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.scrolling-wrapper {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scrolling-content {
  display: flex;
  animation: scroll 60s linear infinite;
}
.scrolling-content > a {
  flex-shrink: 0;
  white-space: normal;
}
.instruc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

